*elc
.sx/*
elpa/*
TODO.org
bookmarks
backups/*
auto-save-list/*
org-clock-save.el
recentf
url/*
chinese-fonts-setup/*
history
eshell/*
request/*
.places
.mc-lists.el
tramp
*~
*#
diary
places
out.html*
.DS_Store
*.DS_Store
